<%= stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css", :media => "all" %>
<body id="home">
  <section class="download-section">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" >
          <div class="downloadapp-wrapper" style="text-align:center;">
            <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4 col-lg-6 col-lg-offset-3">
              <div class="home-wrapper home-wrapper-form">
                <img src="/assets/redesign/header-image.png" class="logo"/>
                  <%= form_for @user, :id => "register_form", :class => "intro-form", :url => { :action => "create" } do |f| %>
                    <h3 style="color:#333; font-size:16px; line-height:24px;"><i class="fa fa-key"></i> Be The First To Know</h3>
                    <div class="form-group">
                      <%= f.text_field :email, :placeholder => "Enter your Email", :class => "form-control", :id => "txtEmail", :required => "required" %>
                    </div>
                    <div class="form-group text-center">
                      <button id="btnSubmit" type="submit" class="btn btn-etobee btn-red btn-block">GET IN NOW</button>
                    </div>
                  <% end %>
              </div>
            </div>              
          </div>
        </div>
      </div>
    </div>
  </section>
</body>